venv/
/node_modules
/.pnp
.pnp.js

backend/ecommerce_project/db.sqlite3
# testing
/coverage

# production



npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
*.zip
backend/ecommerce_project/db.sqlite3